:root {
    --br-radius: 5px;
}

* {}

table {
    width: 100%;
    max-width: 900px;
    margin: auto;
    border-collapse: collapse;
}

th,
td {
    background-color: #7887ab;

}

thead th:first-child {
    border-radius: 5px 0 0 0;
}

thead th:last-child {
    border-radius: 0 5px 0 0;
}

tfoot th:first-child {
    border-bottom-left-radius: var(--br-radius);
}

tfoot th:last-child {
    border-bottom-right-radius: var(--br-radius);
}